html {
  font-family: Arial,helvetica,sans-serif;
  font-size: 100%;
}

body {
  font-size: 1em;
  font-family: inherit;
}

main {
  margin: 0 auto;
}

.App {
  text-align: center;
  background-color: #567FA4;
}

.header {
  max-width: 1450px;
  margin: 0 auto;
  padding-top: 20px;
}

/* Largest screens, laptop and up ----------- */
@media only screen and (min-width : 1024px) {
  div.home {
    margin-bottom: 30px;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 450px 450px 450px;
  }

  div.hero {
    height: 350px;
  }

  div.hero-text {
    padding-top: 75px;
  }

  div.home-card-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  div.home-card-text {
    padding-top: 100px;
  }

  div.home-card-1 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #29785A;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  div.home-card-2 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #2D5273;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  div.home-card-2-mobile {
    display: none;
  }

  div.home-card-3 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #39367C;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  div.footer-mobile {
    display: none;
  }

  div.footer {
    width: 100%;
    color: #101E2A;
    padding: 4vh;
    height: 10vh;
  }

  div.portfolio {

  }

  div.portfolio-tab {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    max-width: 1200px;
    margin: 5vh auto;
    padding: 5px;
    justify-content: space-around;
  }
}

/* Medium ----------- */
@media only all and (min-width : 501px) and (max-width : 1024px) {
  div.hero {
    height: 420px;
  }

  div.hero-text {
    padding-top: 55px;
  }

  div.home {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 500px 500px;
  }

  div.home-card-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  div.home-card-text {
    padding-top: 100px;
  }

  div.home-card-1 {
    background-color: #29785A;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  div.home-card-2-mobile {
    display: none;
  }

  div.home-card-2 {
    background-color: #2D5273;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  div.home-card-3 {
    background-color: #39367C;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  div.footer {
    padding: 20px;
  }

  div.footer-mobile {
    display: none;
  }
}

/* Most Smartphones ----------- */
@media only all and (max-width : 500px) {
  div.hero {
    height: 600px;
  }

  div.hero-text {
    padding-top: 50px;
  }

  div.home {
    width: 100%;
    height: 1700px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 550px 550px 550px;
  }

  div.home-card-content {
    height: 550px;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
  }

  div.home-card-text {
    padding-top: 50px;
  }

  div.home-card-1 {
    background-color: #29785A;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  div.home-card-2 {
    display: none;
  }

  div.home-card-2-mobile {
    background-color: #2D5273;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  div.home-card-3 {
    background-color: #39367C;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }


  div.home img {
    width: 100%;
    height: auto;
    max-height: 350px;
    margin: 20px auto;
  }

  div.footer {
    display: none;
  }

  div.footer-mobile {
    width: 100%;
    color: #101E2A;
    padding-bottom: 10px;
  }

}

/* Smallest Phones */
@media only screen and (max-width: 375px) {
  div.hero {
    height: 700px;
  }

  div.home img {
    width: 100%;
    height: auto;
    max-height: 350px;
    margin: 20px auto;
  }
}


.portfolio-button {
  max-width: 125px;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 350px;
  margin: 5vh auto;
  background-color: #b2c6d7;
}

.hero-text {
  max-width: 800px;
  height: 250px;
  width: 80%;
  margin: 0 auto;
  color: #101E2A;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  padding: 0 0 10vh 0;
}


.home h2 {
  color: white;
}

.home-button {
  margin-top: 25px;
  padding: 15px 25px;
  background-color: #567FA4;
  color: white;
  border: 0;
  font-size: 18px;
  border-radius: 5px;
}

.home-button:hover {
  color: #101E2A;
  background-color: #b2c6d7;
  cursor: pointer;
}

.resume {
  max-width: 75vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.single-card {
  margin: 0;
  margin-top: 3vh;
  max-width: 300px;
  min-width: 100px;
  height: auto;
}

.page {
  min-height: 85vh;
  padding: 5vh;
}

.bold {
  font-weight: bold;
}

.contact {
  text-align: right;
  min-width: 100px;
}

.location {
  height: 35vh;
  width: 30vw;
  margin: 0;
  min-width: 100px;
}

#map {
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.resume-left {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resume-left a {
  text-decoration: none;
  color: purple;
}

.right {
  text-align: right;
  margin-top: 10vh;
  padding-right: 10vw;
}

.bottom {
  color: white;
  font-size: 1.3rem;
}

.bottom img {
  margin: 5vh;
  min-width: 100px;
}
